<h1>Recipe Added To Database</h1>

<h2>Title: <%= @recipe.title %></h2>
<h2>Chef: <%= @recipe.chef %></h2>
<h2>Ingredients: <%= @recipe.ingredients %></h2>
<h2>Directions: <%= @recipe.directions %></h2>

<a href="/all_recipes_url">All Recipes</a>

