$main-color: lightblue;
$main-border-color: black;

title {

}

h1  {
  color: $main-color;
  border: solid;
  border-color: $main-border-color;
  background-color: red;
  text-align: center;

}

h3 {
  background-color: $main-color;
  border: solid;
  border-color: $main-border-color;
}

h4 {
  background-color: $main-color;
  border: solid;
  border-color: $main-border-color;
}
